/* you can change any of the default styles below */

* {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

h2{
  text-align: right;
  font-size: bold;

}

#nav {
  
  height: 15px;
  background-color: #2A2B2A;
  text-align: center;
  position: sticky;
  color: #e22856;
  top: 0;
}

main {
  background-color: #F8F4E3;
  height: 200vh;
}

p {
  color: #2A2B2A;
  font-size: 1.8rem;
}

img {
  max-width: 400px;
}

.div{
  position: relative;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 400px;
  height: 200px;
  border: 2px #2A2B2A;

}
